@import "include-media";
@import "normalize";
@import "theme";
@import "variables";
@import "functions";
@import "mixins";
@import "typo";
@import "animations";
@import "icons";
@import "menu";
@import "hero";
@import "search";
@import "elements";
@import "header";
@import "home";
@import "post";
@import "pagination";
@import "share";
@import "highlight";
@import "form";
@import "author";
@import "staff";
@import "modal";
@import "footer";
@import "no-js";
p.success {
    padding: 0.5rem 1rem;
    background-color: rgba(green, 0.1);
    border: 1px solid green;
    border-radius: 0.4rem;
}

p.info {
    padding: 0.5rem 1rem;
    background-color: rgba(blue, 0.1);
    border: 1px solid blue;
    border-radius: 0.4rem;
}

p.warning {
    padding: 0.5rem 1rem;
    background-color: rgba(yellow, 0.1);
    border: 1px solid yellow;
    border-radius: 0.4rem;
}

p.error {
    padding: 0.5rem 1rem;
    background-color: rgba(red, 0.1);
    border: 1px solid red;
    border-radius: 0.4rem;
}
